.hidden {
    display: ;
}

label > img {
    width: 100px;
    height: 100px;
}

label > input {
    display: none;
}

:checked + img {
    border: solid 10px lightskyblue;
}   

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}
